.row {
  display: flex;
}

.column {
  flex: 9.09%;
  padding: 5px;
}

* {
  box-sizing: border-box;
}
.logos{
  padding-left: 15%;
  padding-right: 15%;
}
.logosSecondRow{
   padding-left: 12%;
   padding-right: 12%;
 }

