<edison-subDashboard *ngIf="plotlyData"
                     [subDashboardTitle]="'Finance: Additional investment leveraged in USD'"
                     [rawData]="rawData"
                     [parentDashboard]="'bgfz-impact'"
                     [plotlyData1]="plotlyData"
                     [plotlyLayout1]="plotlyLayout"
                     [showDataTab]=false
                     [dataDownLoad]=flase
                     [chartInfo]="chartInfo"
                     (onDataFilter)="setPlotlyData($event)"
                     (onPlotlyClick)="onPlotlyClick($event)">
</edison-subDashboard>
<div class="logos">
  <div class="row">
    <div class="column">
      <img src="./assets/images/cofunders/USTDA-logo.png" alt="USTDA" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/USAID-logo.png" alt="USAID" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/TRINE-logo.png" alt="TRINE" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/DOEN-logo.png" alt="DOEN Foundation" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/InfraCo-logo.png" alt="InfraCo Africa" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/kiva-logo.png" alt="kiva" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/AECF-logo.png" alt="AECF" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/SIMA-logo.png" alt="SIMA" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/Swedbank-logo.png" alt="Swedbank" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/lendahand-logo.png" alt="lendahand" style="width:100%">
    </div>
  </div>
  <div class="logosSecondRow">
  <div class="row">
    <div class="column">
      <img src="./assets/images/cofunders/GSMA-logo.png" alt="GSMA" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/RUFEP-logo.png" alt="RUFEP" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/fosera-logo.png" alt="fosera" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/TOTAL-logo.png" alt="TOTAL" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/mimimoto-logo.png" alt="Mimi Moto" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/SNV-logo.png" alt="SNV" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/cofunders/SunFunder-logo.png" alt="SunFunder" style="width:100%">
    </div>
  </div>
  </div>
</div>
