@import 'app/shared/sub-dashboard/sub-dashboard.component.css';
@import 'app/external-dashboard/external-dashboard.component.css';
@import 'app/loading-indicator.css';
@import 'app/internal-dashboard/arpu/arpu.component.css';

/***Branding Styling***/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height:150px;
  color:#330003;
  background-color: #E3E0DD;
  text-align: left;
  -webkit-clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
}
.footer-polygon{
  width:100%;
  height:50px;
  background-color: #00662D;
  -webkit-clip-path: polygon(0% 40%, 100% 5%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 40%, 100% 5%, 100% 100%, 0% 100%);
  position:absolute;
  bottom:0;
}
.footer-content{
  padding: 30px 0px 0px 0px;
}
.footer-social-media{
  text-align: left;
  margin:0px 10px;
  display:inline-block;
}
.footer-social-media>a{
  text-decoration: none;
  color: #330003;
}
.footer-imgs{
  margin:10px 10px;
}
.footer-imgs>a{
  margin-right:10px;
  text-decoration: none;
}
.footer-imgs>a>img{
  height:20px;
}
#sweeden-logo>img{
  height:20px;
}
.footer-links{
  margin:0px 10px 0px 0px;
  display:inline-block;
  vertical-align: top;
  padding-top:4.5px;
}
.footer-links a {
  font-weight: bold;
  color: #8c2a2f;
  text-decoration: none;
  margin-right:5px;
}

.footer-links a:visited {
  line-height: inherit;
}
.footer-links a:visited, .footer-links a:focus {
  text-decoration: none;
  outline: 0;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button{
  background:#8C2A2F !important;
  border:1px solid #8C2A2F !important;
}
.ui-widget-content a{
  color:#8C2A2F;
}
/*********************/
.divSpacer{
  height:10px;
}
.divSmallSpacer{
  height:5px;
}
.indent{
  padding-left: 10px;
}
.min-header-margin h1, .min-header-margin h2, .min-header-margin h3, .min-header-margin h4{
  margin: 5px 0px;
}
.ui-datatable-tablewrapper tr> th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.ui-datatable-data> tr> td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.ui-slider-text{
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}
.chart-info{
  text-align: center;
  font-size: 14px;
}
td>span>button{
  height:22px;
}

.external-zambia{
  min-height:560px;
}

#cookieLaw{
  display: block;
  position: fixed;
  width:100%;
  background-color: #009944;/*#0779BF;*/
  left:0;
  bottom:0;
  z-index: 99;
}
.cookie-law-content{
  width:80%;
  margin: 0 auto;
  text-align: center;
  color:white;
}
#cookie-law-text{
  display: inline-block;
  /*float:left;*/
  text-align: left;
  max-width: 70%;
}
#cookie-law-buttons{
  display: inline-block;
  /*float:right;*/
  vertical-align: top;
}
#cookie-law-buttons button{
  margin: 20px 0px 0px 0px;
  background-color:#ededed;
  color:white;
  border:1px solid black;
  border-radius: 2.5px;
}
@media screen and (max-width: 667px){
  .cookie-law-content{
    width:90%;
  }
  #cookie-law-text{
    max-width:80%;
  }
  #loginButton{
    display:none;
  }
  #logoutButton{
    display:none;
  }
  .external-zambia{
    min-height:50vh;
  }
  app-d3 svg{
    height:auto;
    width:100vw;
  }

  .dashboard-stats h2{
    font-size: 325% !important;
    margin: 0.75vh 0px;
    text-align: center;
  }
  .dashboard-stats h3{
    white-space: nowrap;
  }
  .multi-dashboard-cell h2{
    font-size: 300%;
  }
  .dashboard-stats h5{
    font-size:120% !important;
  }
}

/******D3 Styles******/
.d3-chart {
  width: 100%;
  height: 400px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

path {
  stroke-width: 1px;
  stroke: black;
  fill: white;
  cursor: pointer;
}

/*path:hover, path.highlighted {
  fill: tomato;
}*/

svg.chart-content{
    /*position: absolute;
    top: 0;
    left: 0;*/
}

.tooltip {
  position: absolute;
  display:inline-block;
  text-align: left;
  padding: 5px;
  font: 16px 'Source Sans Pro', sans-serif;
  color:white;
  background: grey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.charHistoricalCharts > div > div.tooltip {
    font-size: .8em;
}
@media screen and (max-height: 680px) {
    .charHistoricalCharts > div > div.tooltip {
        font-size: 10px;
    }
}
.home-chart-container {
    width: 100%;
    height: 0;
    /*padding-top: 38%;*/
    position: relative;
}

.home-chart-container .axis path,.home-chart-container  .axis tick,.home-chart-container  .axis line {
        fill: none;
        stroke: none;
    }
/******D3 Styles******/
/*form-group*/
.form-group{
  margin: 5px 0px;
}
.form-group>label{
  display: inline-block;
  width: 40%;
  border-bottom: 1px dotted black;
}
.form-group>input{
  display: inline-block;
  width: calc(60% - 5px);
}

.input-data{
  margin: 5px 0px;
}
.input-data>span{
  display: inline-block;
  width: 40%;
  border-bottom: 1px dotted black;
}
.input-data>input{
  display: inline-block;
  width: calc(60% - 5px);
}


.ui-datatable-data td{
  text-align:center;
}

.dashboard-stats{
  border:1px solid black;
  border-collapse: collapse;
  /*border-radius: 10px;*/
}

.dashboard-cell, .dashboard-cell-2{
  background-color:#f2f2f2;
}

.dashboard-cell-2>h2{
  font-size: 4vh;
}
.dashboard-cell-2>h3{
  font-size: 3vh;
}

.dashboard-cell-no-hover{
  background-color:#f2f2f2;
}

.dashboard-stats td{
  padding:1.5vh 0.5vw;
  border:1px solid black;
  border-collapse: collapse;
  /*border-radius: 10px;*/
  width:16.66vw;
  height:20vh;
  /* background-color:#f2f2f2; */
}

.dashboard-stats h3, .multi-dashboard-cell h3{
  font-size: 3vh;
  margin: 0.75vh 0px;
  text-align: center;
}
.dashboard-stats h2{
  font-size: 400%;
  margin: 0.75vh 0px;
  text-align: center;
}
.multi-dashboard-cell h2{
  font-size: 350%;
  margin: 0.75vh 0px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.multi-dashboard-cell h2>span{
  font-size: 50%;
  padding-top: 5%;
}
/* .multi-dashboard-cell h2>span{
  font-size: 2.5vh;
} */
.dashboard-stats h5, .multi-dashboard-cell h5{
  font-size: 2.5vh;
  margin: 0.75vh 0px;
  text-align: center;
}
.multi-dashboard-cell>h5{
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-cell:hover, .multi-dashboard-cell:hover, .dashboard-cell-2:hover{
  background-color: #009944;/*lightblue*/
  cursor: pointer;
  color:white;
}

.dashboard-detail-filters{
  padding:0px 10px;
}
.dashboard-detail-filters>div{
  display:inline-block;
  vertical-align: top;
  padding:0px 5px;
}
.dashboard-detail-filters>div>h3{
  margin:0px 0px 5px 0px;
}
.back-icon{
  display: inline-block;
}
.back-icon:hover{
  cursor: pointer;
  color:#009944;/*blue*/
}

.information-paragraph{
  padding:0px 10px;
  margin: 2px 0px;
}

.date-range-div{

}
.date-range-div>div{
  display:inline-block;
}
.date-range-div h3{
  margin:5px 0px 0px 0px;
}

.center-boarder-table{
  text-align: left;
  /*margin:0 auto;*/
}
.center-boarder-table,.center-boarder-table th, .center-boarder-table td{
  border:1px solid black;
  border-collapse: collapse;
}

.center-boarder-table td, .center-boarder-table th{
  padding: 2.5px 5px;
  text-align: center;
}

.data-tab-div{
  position:relative;
}
.data-tab-div>button{
  position: absolute;
  top:2.5px;
  right:2.5px;
}
.data-tab-div>h3{
  margin:0px 0px 10px 0px;
}

.edison-dashboard{
  position: relative;
}
.dashboard-grid{
  padding-top:30px;
  padding-right:7.5%;
}

.vertical-filters{

}
.vertical-filters>h2{
  margin: 2.5px 0px 10px 0px;
}

.ui-button.ui-button-secondary.ui-state-default, .ui-splitbutton.ui-button-secondary .ui-button.ui-state-default{
  color:white;
}

.internal-filters h3{
  margin: 0px;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.print-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 10px 0px 10px;
    /*border: 1px solid #888;*/
    width: 100%;
    /*calc(100% - 20px);*/
    height: 100%;
}

.print-page{
  width:1000;
}

.print-button{
  position: absolute;
  top:0px;
  right:0px;
}

@media screen and (max-width: 1262px) {
  .ui-grid-row .ui-grid-col-6, .ui-grid-row .ui-grid-col-5{
    display: inline-block;
    width: 100%;
    float:none;
    text-align: center;
  }
   .ui-grid-row .ui-grid-col-7{
     display: inline-block;
     width: 100%;
     float:none;
     text-align: center;
   }
   .ui-grid-col-7>.ui-grid-col-2{
     width:20% !important;
     display:inline-block;
   }
   .ui-grid-col-7>.ui-grid-col-10{
     width:calc(80% - 10px) !important;
     display:inline-block;
   }
  .ui-grid-row .ui-grid-col-6>table, .ui-grid-row .ui-grid-col-5>table{
    margin:0px auto;
  }
  .ui-grid-row .ui-grid-col-5>table td{
    min-width:170px;
  }
  .ui-grid-row{
    display:block !important;
  }
  .dashboard-grid{
    padding-top:0px;
    padding-right:0px;
  }
}

@media screen and (max-width: 667px){
  svg{
    max-width: 95vw !important;
  }
  canvas{
    max-width: 95vw !important;
  }
  .ui-grid-col-7 svg{
    max-width: 80vw !important;
  }
  .print-button{
    display:none;
  }
}

@page {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media print{
  .no-print{
    display:none !important;
    hight:.1px !important;
  }
  .print-page{
    width:100%;
  }
  .print-modal-content{
    display: block !important;
  }
  .page-break{margin:20px 0px;height:30px;page-break-after: always;}
  svg{
    min-width:400px;
  }
  #printChartsDiv{
    width:100%
  }
  #printChartsDiv>div{
    display:inline-block;
  }

  @page {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  body { margin: 1cm; }

  .dashboard-stats{
    padding:5px;
  }
  .dashboard-stats td{
    width:32%;
    height:150px;
  }
  .dashboard-stats td>h3{
    margin:0px;
    font-size:25px;
  }
  .dashboard-stats td>h2{
    margin:0px;
    font-size:40px;
  }
  .dashboard-stats td>h5{
    margin:0px;
    font-size:20px;
  }
  .dashboard-cell-2>h2{
    font-size:30px !important;
  }
}
