<div [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <div class="divSmallSpacer"></div>
  <div class="divSpacer"></div>
  <div class="ui-grid ui-grid-responsive ui-fluid edison-dashboard">
    <div class="print-button">
      <button pButton type="button" label="Print" (click)="showPFModal()"></button>
    </div>
    <div style="margin:0 auto;text-align:center;" class="ui-grid-row">
      <div [ngClass]="getNgClassMap()" class="external-zambia">
        <div *ngIf="chartData && rawData && authService.isAdmin" class="ui-grid-col-2 vertical-filters" style="vertical-align:top;text-align:left;">
          <h2>Filters:</h2>
          <div class="indent">
            <div>
              <h3>ESP</h3>
              <div *ngFor="let esp of espFilter.filters" class="indent">
                <p-checkbox name="esps" [value]="esp" [label]="esp" [(ngModel)]="selectedESPs" [inputId]="esp" (onChange)="processFilter($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div>
              <h3>Time</h3>
              <div>
                <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
                   showButtonBar="true" (onSelect)="processFilter($event)" (onClearClick)="processFilter($event)"></p-calendar>
              </div>
              <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
              <div>
                <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
                   showButtonBar="true" (onSelect)="processFilter($event)" (onClearClick)="processFilter($event)"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div style="display:inline-block;">
          <h3 style="text-align:left;margin:2.5px 0px">Selected Province: {{selectedProvince}}</h3>
          <span class="reset-text">*Double Click to Reset</span>
          <div class="reset-button">
            <button pButton label="Reset" icon="fa-undo" (click)="provinceClicked('All')"></button>
          </div>
          <!-- <app-d3 #zambiaChart id="d3Zambia" *ngIf="chartData && rawData" [data]="chartData" [name]="'d3Zambia'" [pointCoords]="pointCoords" (dblclick)="provinceClicked('All')" -->
          <app-d3 #zambiaChart id="d3Zambia" *ngIf="chartData" [data]="chartData" [name]="'d3Zambia'" [pointCoords]="pointCoords"></app-d3>
        </div>
      </div>
      <div  [ngClass]="getNgClassCells()">
        <!-- style="display:inline-block;vertical-align:top;" -->
        <div class="divSpacer"></div>
        <table class="dashboard-stats">
          <tr>
            <td (click)="router.navigate(['bfgz-impact/connections'])" class="dashboard-cell">
              <h3>Connections</h3>
              <h2>{{connections | number:'1.0-0'}}</h2>
              <h5>Energy Service Subscriptions</h5>
            </td>
            <td (click)="router.navigate(['bfgz-impact/light'])" class="dashboard-cell">
              <h3>Light Service</h3>
              <h2>{{light | number:'1.0-0'}}</h2>
              <h5>Candles/Lamps Displaced</h5>
            </td>
            <td (click)="router.navigate(['bfgz-impact/people'])" class="dashboard-cell">
              <h3>People</h3>
              <h2>{{people | number:'1.0-0'}}</h2>
              <h5>Beneficiaries</h5>
            </td>
          </tr>
          <tr>
            <td (click)="router.navigate(['bfgz-impact/gender'])" class="dashboard-cell">
              <h3>Gender</h3>
              <h2>{{womenCustomers | number:'1.0-0'}}</h2>
              <h5>Women Primary Customers</h5>
            </td>
            <td (click)="router.navigate(['bfgz-impact/jobs'])" class="dashboard-cell">
              <!-- class="multi-dashboard-cell" -->
              <h3>Jobs</h3>
              <h2 *ngIf="installedPower">
                {{ 370 + 1294 | number:'1.0-0'}}
                <!-- {{((jobs['Contracted'] + jobs['Commission Based'])) | number:'1.0-0'}} -->
                <!-- {{(jobs['Contracted'] / 1000) | number:'1.0-0'}}   |
                {{(jobs['Commission Based'] / 1000) | number:'1.0-0'}} -->
              </h2>
              <!-- <h2 *ngIf="installedPower">{{(jobs['Contracted'] / 1000) | number:'1.0-0'}}</h2>
              <h2 *ngIf="installedPower">{{(jobs['Commission Based'] / 1000) | number:'1.0-0'}}</h2> -->
              <!-- <h2 *ngIf="installedPower">{{(jobs['Contracted'] / 1000) | number:'1.0-0'}} <span>Contracted</span></h2>
              <h2 *ngIf="installedPower">{{(jobs['Commission Based'] / 1000) | number:'1.0-0'}} <span>On Commission</span></h2> -->
              <!-- <h5>Contract | Agents</h5> -->
              <h5>Full & Part Time Jobs</h5>
              <!-- <h2>{{jobs | number:'1.0-0'}}</h2> -->
              <!-- <h5>Commission-Based</h5> -->
            </td>
            <td (click)="router.navigate(['bfgz-impact/climate'])" class="dashboard-cell">
              <h3>Climate</h3>
              <h2>{{co2Mitigated | number:'1.0-0'}}</h2>
              <h5>Kg of C0<sub>2</sub> Mitigated Annually</h5>
            </td>
          </tr>
          <tr>
            <td (click)="router.navigate(['bfgz-impact/financials'])" class="dashboard-cell">
              <h3>Finance</h3>
              <!-- Note: Data for Investment will arrive before rest. Checking installedPower as this data will arive with arrive with rest of data-->
              <h2 *ngIf="installedPower">{{(investment / 1000000) | number:'1.1-1'}} M</h2>
              <h5>Additional USD Invested</h5>
            </td>
            <td (click)="router.navigate(['bfgz-impact/power'])" class="dashboard-cell">
              <h3>Power</h3>
              <h2>{{(installedPower / 1000) | number:'1.0-0'}}</h2>
              <h5>in 000's Watts</h5>
            </td>
            <!--<td (click)="router.navigate(['bfgz-impact/education'])" class="dashboard-cell">-->
              <!--<h3>Education</h3>-->
              <!--<h2>{{schoolsConnected | number:'1.0-0'}}</h2>-->
              <!--<h5>Schools Connected</h5>-->
            <!--</td>-->
            <td (click)="router.navigate(['bfgz-impact/productive'])" class="dashboard-cell">
              <h3>Productive</h3>
              <h2>{{productivesConnected | number:'1.0-0'}}</h2>
              <h5>Businesses/<br>Institutions</h5>
            </td>
          </tr>
        </table>
        <p class="information-paragraph">*Click cells that light up as green for more information.</p>
      </div>
    </div>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacerSmall no-print"></div>
      <div style="white-space: nowrap; overflow: hidden;">
        <div *ngIf="chartData && rawData && authService.isAdmin" style="display:inline-block; vertical-align:top; text-align:left; width:200px;">
          <h2>Filters:</h2>
          <div class="indent">
            <div>
              <h3>ESP</h3>
              <div *ngFor="let esp of espFilter.filters" class="indent">
                <p-checkbox name="esps" [value]="esp" [label]="esp" [(ngModel)]="selectedESPs" [inputId]="esp" (onChange)="processFilter($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div>
              <h3>Time</h3>
              <div>
                <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
                   showButtonBar="true" (onSelect)="processFilter($event)" (onClearClick)="processFilter($event)"></p-calendar>
              </div>
              <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
              <div>
                <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
                   showButtonBar="true" (onSelect)="processFilter($event)" (onClearClick)="processFilter($event)"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div style="display:inline-block;">
          <h3 style="text-align:left;margin:2.5px 0px">Selected Province: {{selectedProvince}}</h3>
          <span class="reset-text">*Double Click to Reset Province</span>
          <div class="reset-button">
            <button pButton label="Reset" icon="fa-undo" (click)="provinceClicked('All')"></button>
          </div>
          <div [ngStyle]="{'min-width':'400px','height':'380px','display':'inline-block'}">
            <app-d3 #zambiaChartPrint id="d3ZambiaPrint" *ngIf="chartData && rawData && showPrinterFriendly" [data]="chartData"
              [name]="'d3ZambiaPrint'" [pointCoords]="pointCoords" [height]="414" [width]="450"  ></app-d3>
          </div>
        </div>
      </div>
    </div>
    <div>
      <table class="dashboard-stats">
        <tr>
          <td (click)="router.navigate(['bfgz-impact/connections'])" class="dashboard-cell">
            <h3>Connections</h3>
            <h2>{{connections | number:'1.0-0'}}</h2>
            <h5>Energy Service Subscriptions</h5>
          </td>
          <td (click)="router.navigate(['bfgz-impact/light'])" class="dashboard-cell">
            <h3>Light Service</h3>
            <h2>{{light | number:'1.0-0'}}</h2>
            <h5>Candles/Lamps Displaced</h5>
          </td>
          <td (click)="router.navigate(['bfgz-impact/people'])" class="dashboard-cell">
            <h3>People</h3>
            <h2>{{people | number:'1.0-0'}}</h2>
            <h5>Beneficiaries</h5>
          </td>
        </tr>
        <tr>
          <td (click)="router.navigate(['bfgz-impact/gender'])" class="dashboard-cell">
            <h3>Gender</h3>
            <h2>{{womenCustomers | number:'1.0-0'}}</h2>
            <h5>Women Primary Customers</h5>
          </td>
          <td (click)="router.navigate(['bfgz-impact/jobs'])" class="dashboard-cell">
            <!-- class="multi-dashboard-cell" -->
            <h3>Jobs</h3>
            <h2 *ngIf="installedPower">
              <!-- {{((jobs['Contracted'] + jobs['Commission Based'])) | number:'1.0-0'}} -->
              {{ 370 + 1294 | number:'1.0-0'}}
            </h2>
            <h5>Full & Part Time Jobs</h5>
          </td>
          <td (click)="router.navigate(['bfgz-impact/climate'])" class="dashboard-cell">
            <h3>Climate</h3>
            <h2>{{co2Mitigated | number:'1.0-0'}}</h2>
            <h5>Kg of C0<sub>2</sub> Mitigated Annually</h5>
          </td>
        </tr>
        <tr>
          <td (click)="router.navigate(['bfgz-impact/financials'])" class="dashboard-cell">
            <h3>Finance</h3>
            <!-- Note: Data for Investment will arrive before rest. Checking installedPower as this data will arive with arrive with rest of data-->
            <h2 *ngIf="installedPower">{{(investment / 1000000) | number:'1.1-1'}} M</h2>
            <h5>Additional USD Invested</h5>
          </td>
          <td (click)="router.navigate(['bfgz-impact/power'])" class="dashboard-cell">
            <h3>Power</h3>
            <h2>{{(installedPower / 1000) | number:'1.0-0'}}</h2>
            <h5>in 000's Watts</h5>
          </td>
          <!--<td (click)="router.navigate(['bfgz-impact/education'])" class="dashboard-cell">-->
            <!--<h3>Education</h3>-->
            <!--<h2>{{schoolsConnected | number:'1.0-0'}}</h2>-->
            <!--<h5>Schools Connected</h5>-->
          <!--</td>-->
          <td (click)="router.navigate(['bfgz-impact/productive'])" class="dashboard-cell">
            <h3>Productive</h3>
            <h2>{{productivesConnected | number:'1.0-0'}}</h2>
            <h5>Businesses/<br>Institutions</h5>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
