.reset-text{
  text-align:left;
  display:none;
  font-size:12px;
  padding:0px 2.5px;
}

.reset-button{
  display:block;
  text-align: left;
}
.reset-button>button{
  width:100px !important;
}

@media screen and (max-width: 670px){
  .reset-button{
    display:block;
  }
  .reset-text{
    display:none;
  }
}
