<body>
<h1 class="title"><br>Disclosure</h1>
<br>
<p>
  The Beyond the Grid Fund for Zambia is funded by the Government of Sweden and managed by the Renewable Energy and
  Energy Efficiency Partnership (REEEP).<br>
  <br>
</p>
<h2>
  Media owner:
</h2>
<p>
  Renewable Energy and Energy Efficiency Partnership (REEEP) - Partnerschaft für erneuerbare Energie und
  Energieeffizienz (REEEP) REEEP is an association under Austrian law.
  <br><br>
  ZVR: 928296155<br>
  Wagramer Strasse 5 (Vienna International Centre, Room D-2169)<br>
  1400 Vienna, Austria<br>
  Phone: +43-1-26026-3425<br>
  info@reeep.org<br>
  www.reeep.org<br>
  <br>
</p>
<h2>Purpose of the association:
</h2>
<p>
  REEEP’s vision is that in low- and middle-income countries, people have access to affordable low carbon energy
  services provided by various players in a sustainable market. REEEP’s mission is to advance market readiness for clean
  energy and energy access in developing countries, especially for the benefit of the most vulnerable populations.
  REEEP’s vision and mission are firmly anchored in the Sustainable Development Goals of the United Nations (in
  particular SDG7 – energy – and SDG13 – climate) as well as the UN Framework Convention on Climate Change (UNFCCC) and
  the Paris Agreement.
  <br><br>
  <b>The statutory objectives of REEEP are to:</b>
  Support climate and environment protection by promoting the development and advancement of market readiness for
  renewable energy and energy efficiency in low- and middle-income countries;
  Support equitable development by promoting access to affordable and clean energy services in these countries;
  Support the implementation of the Sustainable Development Goals (SDGs) of the United Nations, in particular SDG7
  (ensure access to affordable, reliable, sustainable and modern energy for all) and SDG 13 (take urgent action to
  combat climate change and its impacts) as well as the implementation of the UN Framework Convention on Climate Change
  (UNFCCC) and the Paris Agreement (in particular the implementation of Nationally Determined Contributions – NDCs);
  Accelerate the market growth of low carbon renewable and energy efficiency systems,
  decrease their costs and turn them into affordable energy options for all.<br>
  <br>
</p>
<h2>
  REEEP Board members:
</h2>
<p>
  Maher Chebbo, General Electric (Chair)<br>
  Alfred Ofosu-Ahenkorah, Energy Commission, Ghana (Deputy Chair)<br>
  Elfriede More, Federal Ministry of Sustainability and Tourism, Austria (Rapporteur)<br>
  Ari Huhtala, Senior Environmental Advisor (Treasurer)<br>
  Christine Eibs Singer, Senior Environmental Advisor (Member)<br>
  Tareq Emtairah, United Nations Industrial Development Organization (Member)<br>
  Mark Fogarty, First Energy Asia (Member)<br>
  Silke Krawietz, SETA Network (Member)<br>
  Valérie Marcel, Chatham House (Member)<br>
  Ajay Mathur, The Energy and Resources Institute (Member)<br>
  Winnie Odhiambo, I-DEV International (Member)<br>
  Piotr Tulej, European Commission/DG Climate Action (Member)<br>
  Danielle Walsh, HSBC (Member)<br>
  Martijn Wilder, Baker and McKenzie (Member)<br>
  Ji Qiang Zhang, GEI China (Member)<br>
  <br>
</p>
<h2>
  Basic Direction:
</h2>
<p>
  This website provides basic information about the Beyond the Grid Fund for Zambia (BGFZ) and its work to expand access
  to modern, renewable and affordable energy services to Zambians in rural and peri-urban areas.
</p>
</body>
