<style>
.ui-datatable .ui-datatable-thead>tr>th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
</style>
<div  [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <h1 style="margin:5px 0px 0px 0px;">{{subDashboardTitle}} Dashboard</h1>
  <i class="back-icon fa fa-arrow-circle-o-left back-icon" aria-hidden="true" (click)="router.navigate([parentDashboard])"></i>
  <div style="display:inline-block;vertical-align:top;width:calc(100% - 57px);">
    <div>
      <p-tabView [activeIndex]="tabIndex"  (onChange)="handleChange($event)">
        <p-tabPanel header="Chart">
          <div class="charts-div">
            <div class="chartDiv-2">
              <div id="plotlyDiv1"></div>
            </div>
            <div class="chartDiv-2">
              <div id="plotlyDiv2"></div>
            </div>
            <br/>
            <div class="chartDiv-2">
              <div id="plotlyDiv3"></div>
            </div>
            <div class="chartDiv-2">
              <div id="plotlyDiv4"></div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Data">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #gb type="text" pInputText size="50" placeholder="Global Filter">
              <button pButton icon="fa-download" (click)="dt.exportCSV()"></button>
          </div>
          <p-dataTable [value]="tableData" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt [exportFilename]="getCSVFileName()" scrollable="true" scrollWidth="100%">
            <p-column field="customerId" header="Customer ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="customerFirstName" header="Customer First Name" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="customerLastName" header="Customer Last Name" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="province" header="Customer Province" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="address" header="Customer Address" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="phoneNumber" header="Customer Telephone" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="customerGender" header="Customer gender" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="espCompanyName" header="ESP" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="productId" header="Product ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="microgridId" header="Microgrid ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="sellerId" header="Seller ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="paygId" header="PAYG ID Current" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="dtConnection" header="Date of Purchase / Connection" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="transactionType" header="Transaction Type" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="productUse" header="Customer Type" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
            <p-column field="productSubUse" header="Customer Type 2" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="planDuration" header="Plan duration " sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="minMonthlyPayment" header="Minimum monthly payment" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="downPayment" header="Down payment" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="dtPaidOff" header="Date paid off" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="daysPaid" header="Days paid" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="daysToPay" header="Days to pay" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="currDaysOutstanding" header="Days outstanding concurrent" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="totalDaysOutstanding" header="Days outstanding cumulative" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="amtFinanced" header="Total financed price" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="paymentStatus" header="Payment status" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="indEvent" header="Warranty or service event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="whPerDay" header="Purchased Wh/day" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="whAvg30Day" header="Purchased average Wh over prev. 30 days (PP30)" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="whAvg90Day" header="Purchased average Wh over prev. 90 days (PP90)" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          </p-dataTable>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div style="background-color:black; height: 1px; width: 100%;"></div>
    <div style="display:inline-block;vertical-align:top;">
      <h2 style="margin:5px 0px;">Filters:</h2>
      <div class="dashboard-detail-filters">
        <div class="indent">
          <h3>{{espFilter.header}}</h3>
          <div *ngFor="let filter of espFilter.filters">
            <p-checkbox name="espFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedEsps" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{provinceFilter.header}}</h3>
          <div *ngFor="let filter of provinceFilter.filters">
            <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvinces" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>Current Tier</h3>
          <div *ngFor="let filter of currTierFilter.filters">
            <p-checkbox name="currTierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedCurrTiers" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>Previous Tier</h3>
          <div *ngFor="let filter of prevTierFilter.filters">
            <p-checkbox name="prevTierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedPrevTiers" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{customerTypeFilter.header}}</h3>
          <div *ngFor="let filter of customerTypeFilter.filters">
            <p-checkbox name="customerTypeFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedCustomerTypes" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>Time</h3>
          <div>
            <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
          <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
          <div>
            <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="print-button">
    <button pButton type="button" label="Print" (click)="showPFModal()"></button>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacer"></div>
      <h1 style="margin:5px 0px;">{{subDashboardTitle}} Dashboard</h1>
      <div class="charts-div" style="text-align:left;">
        <div class="chartDiv-2">
          <div id="plotlyDiv1Print"></div>
        </div>
        <div class="chartDiv-2">
          <div id="plotlyDiv2Print"></div>
        </div>
        <br/>
        <div class="chartDiv-2">
          <div id="plotlyDiv3Print"></div>
        </div>
        <div class="chartDiv-2">
          <div id="plotlyDiv4Print"></div>
        </div>
      </div>
      <div style="display:inline-block;vertical-align:top;">
        <h2 style="margin:5px 0px;">Filters:</h2>
        <div class="dashboard-detail-filters">
          <div class="indent">
            <h3>{{espFilter.header}}</h3>
            <div *ngFor="let filter of espFilter.filters">
              <p-checkbox name="espFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedEsps" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>{{provinceFilter.header}}</h3>
            <div *ngFor="let filter of provinceFilter.filters">
              <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvinces" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>Current Tier</h3>
            <div *ngFor="let filter of currTierFilter.filters">
              <p-checkbox name="currTierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedCurrTiers" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>Previous Tier</h3>
            <div *ngFor="let filter of prevTierFilter.filters">
              <p-checkbox name="prevTierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedPrevTiers" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>{{customerTypeFilter.header}}</h3>
            <div *ngFor="let filter of customerTypeFilter.filters">
              <p-checkbox name="customerTypeFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedCustomerTypes" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>Time</h3>
            <div>
              <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
                 showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
            </div>
            <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
            <div>
              <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
                 showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
