<body>
  <h1 class="title">
    <br>
    Privacy Statement
  </h1>
  <br>
  <p>
    REEEP is committed to protecting your personal data. All information that you provide is stored on a secure IT
    infrastructure. REEEP processes data in compliance with the EU’s General Data Protection Regulation (GDPR – link:
    https://www.eugdpr.org/). This privacy statement sets out our privacy policy and explains what happens with personal
    data that we collect from our users. Please read the following descriptions to understand our views and practices
    regarding personal data, and how they pertain to you as you use our various site features and services. If we make
    any substantive changes to this policy, we will announce it on our site. If you have any questions or concerns
    regarding this statement, feel free to reach out using the contact details below.
    <br><br>
  </p>
  <h2>
    1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; What personal data does REEEP gather about you and why?
  </h2>
  <p>
    REEEP collects a limited amount of information about our site visitors, so that we can provide a site that is more
    interesting and useful. By knowing a little about you, REEEP can deliver more relevant content and improved user
    experience.
    <br><br>
  </p>
  <h2>
    2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IP addresses and Website Requests
  </h2>
  <p>
    We store IP addresses and Website Requests to be able to troubleshoot in case something goes wrong, and to
    understand what the underlying causes might have been. We keep this data for a total period of 60 days.
  </p>
  <h2>
    3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies
  </h2>
  <p>
    The technology we use for our website needs cookies. Generally, cookies contain bits of information that websites
    transfer to your computer's hard drive for record keeping purposes. By using cookies we can make bgfz.org easier to
    use and improve your ability to interact with our site's design intention.
    <br><br>
    bgfz.org uses cookies in the following ways:
    <br><br>
    1. Each browser accessing bgfz.org is given a unique cookie that is then used to keep track of that visit or user
    "session". This helps your browser and our server to remember who you are (through a randomly generated code ID).
    This cookie is reset after your session expires, or you close your browser, and then come back to bgfz.org.
    2. Google Analytics is using cookies too (see next section), whereby we use the default expiration times set by
    Google (the maximum is 2 years). The cookies are also used to distinguish users by a random ID to allow the service
    below to be executed.
    3. Other cookies in use are solely for the purpose of the browser and the server to know what your browser is
    capable of, or to set performance enhancing measures (they only contain the values 1 or 0). In our case, this is one
    from our website and one from Google Analytics.
    <br><br>
    These cookies are essential for the website and don’t contain any personal information about you, and it is not
    possible for us to identify you as a person from the information in the cookies. You can of course turn off the use
    of cookies in your browser altogether, should you not wish to have this feature enabled. This could make surfing our
    page a tiny bit slower, but it’s still working.
  </p>
  <h2>
    4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Website Analytics
  </h2>
  <p>
    We also use <b>Google Analytics</b> (a website analysis tool of Google Inc. - "Google") to analyse how you use the website.
    We use Google Analytics’ aggregate data on which content is most read, and where people found the link to our
    website, so we can infer which channels of promotion of our content are most successful. The information that Google
    stores about your sessions and clicks is deleted after 14 months.
    <br><br>
    All your usage information created by Google Analytics code (including your IP address) will be transferred to and
    saved on a Google Server in the USA. Google is certified under the “EU- U.S. Privacy Shield” which protects the
    personal data of EU residents transferred to U.S. companies for commercial purposes.
    <br><br>
    By using an anonymization code, your IP Address is abridged in order to not be able to directly pinpoint the
    computer or router you surf on our pages; but still allows us to get a rough estimation to know about the location
    where you come from. This will help us understand where our main audiences sit and possibly create content to fit
    their regions.
    <br><br>
    Google uses the information obtained to analyse how you use this website, to create reports about the
    website-activities for the webmaster and for other services in connection with website and internet usage. This
    information can be submitted to third parties by Google if it is requested by law or if the third party is
    contracted by Google for processing this data. Google will not connect your IP with other data of Google. The Google
    analytics terms of use are available here: http://www.google.com/analytics/tos.html.
    <br><br>
    If you have accepted the use of cookies on our website but you have changed your mind, you can disable the cookie
    installation by changing your browser settings.
  </p>
  <h2>
    5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Newsletter registrations
  </h2>
  <p>
    When you register to for our <b>newsletter</b>, you need to provide us with your <b>email address</b> so we can e-mail you
    information about our events, news and services, or other products and services we feel may interest you. During the
    registration, we also ask you to provide your <b>name and other personal data</b> on a <b>voluntary</b> basis because it is
    helpful to us to track our general audience profile, so we can better tailor the news we share. If you give us
    permission to send direct mail, this extra information will allow us to send you messages relevant to you. We will
    keep this information as long as you are registered for the newsletter, or change your details in the link submitted
    with every email.
    <br><br>
    Only REEEP will send you these e-mails. To send out newsletters, we use a mass mailing system run by <b>MailChimp</b>, a
    US-based company certified under the “EU-U.S. Privacy Shield” (see above). Your email address and information you
    enter with the subscription will be transferred to, and saved on, a MailChimp server in USA.
    <br><br>
    The sign-up form includes an option to give MailChimp permission to track when you open a newsletter and which links
    you click. This information is only used by REEEP to measure our subscribers’ interest in different types of
    content, and will not be shared with anyone.
    <br><br>
    MailChimp stores the IP address of the computer where you sign up from, and/or where you last accessed the messages
    we sent. Unfortunately, MailChimp does not offer to turn this of or anonymize the IP like Google does.
    <br><br>
    To unregister, please click the unsubscribe link which you will find on each of our e-mail messages.
  </p>
  <h2>
    6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Will REEEP disclose any of your personal data?
  </h2>
  <p>
    We do not give, rent, lend, or sell individual information to anyone outside of REEEP.
    <br><br>
    REEEP will only disclose personal data as described above (see “What personal data does REEEP gather about you and
    why?”) to comply with applicable laws or valid legal process, or to protect the rights or property of REEEP.
    <br><br>
    We may disclose aggregate information -- for example, 5,000 readers clicked on a certain news-article -- in order to
    describe our services to partners and other third parties, and for other lawful purposes. For all disclosures, we
    ensure that aggregate information cannot be traced back to individual users.
  </p>
  <h2>
    7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; What are your rights under the General Data Protection Regulation?
  </h2>
  <p>
    <b>Under GDPR, “data subjects” – you! – have the following rights:</b>
    <br><br>
    <b>Right to request access:</b> you may contact us at any time to inquire which personal data we keep about you<br>
    <b>Right to request rectification:</b> If we keep any personal data which is incorrect, you may ask us to correct
    this data<br>
    <b>Right to request erasure:</b> You also have the right to request the erasure of your personal data.<br>
    <b>Right to withdraw consent:</b> If you have given us the consent to process your personal data, but you change
    your mind, you may withdraw your consent at any time. Please see above for details.<br>
    Under GDPR, you also have the <b>right to lodge a complaint</b> with the supervisory authority. The competent
    supervisory authority in Austria is the “Austrian Data Protection Authority”
    (https://www.data-protection-authority.gv.at/)
  </p>
  <h2>
    8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; How can I contact REEEP?
  </h2>
  <p>
    In case of any questions or requests regarding this privacy policy, please contact:
    <br><br>
    Renewable Energy & Energy Efficiency Partnership (REEEP)<br>
    International Secretariat<br>
    Wagramer Strasse 5 (Vienna International Centre, Room D-2169)<br>
    A-1400 Vienna<br>
    Austria<br>
    data-protection@reeep.org<br>
    Phone: +43-1-26026-3425<br>
  </p>
  <h2>
    9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; What else should you know about your privacy?
  </h2>
  <p>
    Many of our articles link from our site to areas on other sites. If you follow these links from our site to another
    site, you should be aware that these other sites have their own privacy and data collection practices. REEEP has no
    responsibility or liability for these independent policies. For more information regarding a site and its privacy
    policies, check each site.
  </p>
</body>
