.title{
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  font-size:2vw;
}
.title:after{
  content:"";
  display: block;
  margin: 0 auto;
  width: 15%;
  padding-top: 1%;
  border-bottom: 3px solid #cfaa47;
}
h2{
  color: #00662D;
  font-size: 32px;
  font-size: 2vw;
}
p{
  color: #626262;
  font-size: 24px;
  font-size: 1.25vw;
}
body{
  padding-left: 15%;
  padding-right: 15%;
}
