.charts-div{
  text-align: center;
  margin: 0 auto;
}
.charts-div>div{
  text-align: center;
  margin: 0 auto;
}

.chartDiv-1{
  width:50vw;
}
.chartDiv-2{
  width: 35vw;
  display:inline-block;
}
.chartDiv-3{
  width: 30vw;
  display:inline-block;
}
.back-icon{
  font-size: 5em;
}
@media screen and (max-width: 667px){
  .chartDiv-1,.chartDiv-2,.chartDiv-3{
    width:80vw;
  }
  .back-icon{
    display: none;
    /* font-size: 2.5em;
    padding-top: 5px;
    position: absolute;
    left: 5px;
    top: 65px;
    z-index: 99; */
  }
}

@media print {
  .chartDiv-2{
    width:40vw;
    text-align: left;
  }
  /* .chartDiv-2 svg{
    width:200px;
  } */
  .chartDiv-3{
    width: 200px;
    text-align: left;
  }
}
