<div  [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <h1 style="margin:5px 0px 0px 0px;">{{subDashboardTitle}} Dashboard</h1>
  <i class="back-icon fa fa-arrow-circle-o-left back-icon" aria-hidden="true" (click)="router.navigate([parentDashboard])"></i>
  <div style="display:inline-block;vertical-align:top;width:calc(100% - 57px);">
    <div>
      <p-tabView [activeIndex]="tabIndex"  (onChange)="handleChange($event)">
        <p-tabPanel header="Chart">
          <div class="charts-div">
            <div *ngIf="zambiaData" [class]="getChartDivClass()" [ngStyle]="{'min-width':'500px'}">
              <app-d3 #zambiaChart id="d3Zambia" *ngIf="zambiaData" [data]="zambiaData" [name]="'d3Zambia'" [pointCoords]="zambiaCoordinates" (dblclick)="zambiaDblClick()"
                (provinceClicked)="provinceClicked($event)" [height]="466" [width]="500" [legendTitle]="zambiaLegendTitle"></app-d3>
            </div>
            <div [class]="getChartDivClass()">
              <div id="plotlyDiv1"></div>
            </div>
            <div *ngIf="plotlyData2" [class]="getChartDivClass()">
              <div id="plotlyDiv2"></div>
            </div>
          </div>
          <div>
            <p class="chart-info">
              {{chartInfo}}
              <a *ngIf="chartInfoLink" [routerLink]="chartInfoLink.route">{{chartInfoLink.text}}</a>
              <a *ngIf="chartInfoLinkExt" [href]="chartInfoLinkExt.route" target="_blank">{{chartInfoLinkExt.text}}</a>
              {{chartInfoAfter}}
            </p>
          </div>
        </p-tabPanel>
        <p-tabPanel *ngIf="showDataTab" header="Data">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #gb type="text" pInputText size="50" placeholder="Global Filter">
              <button *ngIf="dataDownLoad" pButton icon="fa-download" (click)="dt.exportCSV()"></button>
          </div>
          <p-dataTable [value]="tableData" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt [exportFilename]="getCSVFileName()" scrollable="true" scrollWidth="100%">
            <p-column *ngFor="let tblCol of tableColumns" [field]="tblCol.field" [header]="tblCol.header" [sortable]="tblCol.sortable" [filter]="tblCol.filter" [filterMatchMode]="tblCol.filterMatchMode" [style]="{'width':'200px'}">
              <ng-template pTemplate="body" let-col let-row=rowData>
                <div [ngSwitch]="tblCol.format">
                  <span *ngSwitchCase="'Currency'">{{row[col.field] | currency:'USD':'$':'1.0-0'}}</span>
                  <span *ngSwitchCase="'Percent'">{{row[col.field] | percent:'1.2-2'}}</span>
                  <span *ngSwitchDefault>{{row[col.field]}}</span>
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </p-tabPanel>
      </p-tabView>
    </div>
    <!-- added invisible variable to hide the options -->
    <div *ngIf="dataFilterss" style="background-color:black; height: 1px; width: 100%;"></div> 
    <div *ngIf="dataFilterss || (isAdminLocal && tableData[0]['dtFunding'])" style="display:inline-block;vertical-align:top;">
      <h2 style="margin:5px 0px;">Filters:</h2>
      <div class="dashboard-detail-filters">
        <div *ngFor="let dataFilter of dataFilters" style="padding-right:20px;">
          <h3>{{dataFilter.header}}</h3>
          <div *ngFor="let filter of dataFilter.filters, let i = index">
            <!-- <p-checkbox name="datafilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedFilters[dataFilters.indexOf(dataFilter)]" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox> -->
            <p-checkbox name="datafilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedFilters[dataFilters.indexOf(dataFilter)]" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div *ngIf="isAdminLocal">
          <h3>Time</h3>
          <div>
            <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
          <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
          <div>
            <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="print-button">
    <button pButton type="button" label="Print" (click)="showPFModal()"></button>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacer"></div>
      <h1 style="margin:5px 0px;">{{subDashboardTitle}} Dashboard</h1>
      <table>
        <tr>
          <td>
            <div *ngIf="zambiaData" [ngStyle]="{'min-width':'400px','height':'380px'}" [ngClass]="getChartDivClass()">
              <app-d3 #zambiaChartPrint id="d3ZambiaPrint" *ngIf="zambiaData" [data]="zambiaData" [name]="'d3ZambiaPrint'" [pointCoords]="zambiaCoordinates" [height]="414" [width]="450"  [legendTitle]="zambiaLegendTitle"></app-d3>
            </div>
          </td>
          <td>
            <div [ngClass]="getChartDivClass()">
              <div id="plotlyDiv1Print"></div>
            </div>
          </td>
          <td>
            <div *ngIf="plotlyData2" [ngClass]="getChartDivClass()">
              <div id="plotlyDiv2Print"></div>
            </div>
          </td>
        </tr>
      </table>
      <div>
        <p class="chart-info">
          {{chartInfo}}
          <a *ngIf="chartInfoLink" [routerLink]="chartInfoLink.route">{{chartInfoLink.text}}</a>
          {{chartInfoAfter}}
        </p>
      </div>
      <div *ngIf="dataFilters || (isAdminLocal && tableData[0]['dtFunding'])" style="display:inline-block;vertical-align:top;">
        <h2 style="margin:5px 0px;">Filters:</h2>
        <div class="dashboard-detail-filters">
          <div *ngFor="let dataFilter of dataFilters" style="padding-right:20px;">
            <h3>{{dataFilter.header}}</h3>
            <div *ngFor="let filter of dataFilter.filters">
              <p-checkbox name="datafilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedFilters[dataFilters.indexOf(dataFilter)]" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div *ngIf="isAdminLocal">
            <h3>Time</h3>
            <div>
              <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
                 showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
            </div>
            <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
            <div>
              <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
                 showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
