<h3>Energy Service Provider (ESP) Management</h3>
<button pButton type="button" label="Add ESP" (click)="displayAddEsp()"></button>
<div class="divSmallSpacer"></div>
<p-dataTable *ngIf="visible" [value]="esps">
  <p-column header="Edit" [style]="{'width':'45px'}">
      <ng-template let-esp="rowData" pTemplate="body">
          <button type="button" pButton (click)="editEsp(esp)" icon="fa-pencil-square-o"></button>
      </ng-template>
  </p-column>
  <p-column header="Delete" [style]="{'width':'50px'}">
      <ng-template let-esp="rowData" pTemplate="body">
          <button type="button" pButton (click)="deleteEsp(esp)" icon="fa-trash"></button>
      </ng-template>
  </p-column>
  <p-column field="id" header="ESP ID" sortable="true"></p-column>
  <p-column field="nameCompany" header="ESP Name" sortable="true"></p-column>
  <p-column field="textApiToken" header="API Token" sortable="true"></p-column>
  <p-column field="textNotificationEmail" header="Notification Email(s)" sortable="true"></p-column>
  <p-column field="isActive" header="Active" sortable="true">
    <ng-template let-esp="rowData" pTemplate="body">
        <span>{{(esp.isActive) ? 'Yes' : 'No'}}</span>
    </ng-template>
  </p-column>
  <p-column field="nameCompany" header="Recent Pass" sortable="true">
    <ng-template let-col let-esp="rowData" pTemplate="body">
      <span>{{getMostRecentPass(esp[col.field]) | date:'dd/MM/yyyy'}}</span>
    </ng-template>
  </p-column>
  <p-column field="nameCompany" header="Recent Fail" sortable="true">
    <ng-template let-col let-esp="rowData" pTemplate="body">
      <span>{{getMostRecentFail(esp[col.field]) | date:'dd/MM/yyyy'}}</span>
    </ng-template>
  </p-column>
</p-dataTable>
<p-dialog header="Edit ESP" [(visible)]="displayEdit" modal="modal" width="600">
  <div *ngIf="selectedEsp">
    <form (ngSubmit)="onSubmitEdits()" #editForm="ngForm">
      <div class="form-group">
        <label>ESP ID</label>
        <div style="display:inline-block;width:calc(60% - 5px);">
          <span>{{selectedEsp.extKey}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="nameCompany">Name</label>
        <input type="text" class="form-control" id="nameCompany" required
              [(ngModel)]="selectedEsp.nameCompany" name="nameCompany" #nameCompany="ngModel">
        <div [hidden]="nameCompany.valid || nameCompany.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label>Token</label>
        <div style="display:inline-block;width:calc(60% - 5px);">
          <span>{{selectedEsp.textApiToken}}</span>
          <button pButton type="button" label="Regenerate" style="float:right;" (click)="regenerateApiToken()"></button>
        </div>
      </div>
      <div class="form-group">
        <label for="textNotificationEmail">Notification Email(s)</label>
        <input type="text" class="form-control" id="textNotificationEmail" required pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$"
              [(ngModel)]="selectedEsp.textNotificationEmail" name="textNotificationEmail" #textNotificationEmail="ngModel">
        <div [hidden]="textNotificationEmail.valid || textNotificationEmail.pristine" class="alert alert-danger">
          Notification Email(s) is required. Please use semicolon to delimite multiple emails.
        </div>
      </div>
      <button pButton type="submit" label="Save" [disabled]="!editForm.form.valid"></button>
      <button *ngIf="selectedEsp.isActive" pButton type="button" label="Deactivate" (click)="deactivateEsp()"></button>
      <button *ngIf="!selectedEsp.isActive" pButton type="button" label="Activate" (click)="deactivateEsp()"></button>
    </form>
  </div>
</p-dialog>
<p-dialog header="Add ESP" [(visible)]="displayAdd" modal="modal" width="600">
  <div *ngIf="newEsp">
    <form (ngSubmit)="onSubmitNew()" #addForm="ngForm">
      <div class="form-group">
        <label for="nameCompany">Name</label>
        <input type="text" class="form-control" id="nameCompany" required
              [(ngModel)]="newEsp.nameCompany" name="nameCompany" #nameCompany="ngModel">
        <div [hidden]="nameCompany.valid || nameCompany.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="textNotificationEmail">Notification Email(s)</label>
        <input type="text" class="form-control" id="textNotificationEmail" required pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$"
              [(ngModel)]="newEsp.textNotificationEmail" name="textNotificationEmail" #textNotificationEmail="ngModel">
        <div [hidden]="textNotificationEmail.valid || textNotificationEmail.pristine" class="alert alert-danger">
          Notification Email(s) is required. Please use semicolon to delimite multiple emails.
        </div>
      </div>
      <button pButton type="submit" label="Add" [disabled]="!addForm.form.valid"></button>
      <button pButton type="button" label="Cancel" (click)="cancelEsp()"></button>
    </form>
  </div>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
