<p-growl [(value)]="msgs" [life]="5000"></p-growl>
<loading-indicator></loading-indicator>
<p-menubar #menu [model]="items" id="MainMenu">
  <button id="loginButton" *ngIf="!authService.isLoggedIn" pButton label="Login" icon="fa-sign-in" (click)="login()"></button>
  <button id="logoutButton" *ngIf="authService.isLoggedIn" pButton label="Logout" icon="fa-sign-out" (click)="logout()"></button>
</p-menubar>
<div style="padding:0px 5px 60px 5px;">
  <router-outlet></router-outlet>
  <div id="cookieLaw" *ngIf="showCookieLaw">
    <div class="cookie-law-content">
      <div id="cookie-law-text">
        <h2>	This website uses cookies.</h2>
        <p>This website uses cookies to improve your experience on our website. By continuing to browse this site you are agreeing to our use of cookies.<br>	You can disable cookies in your browser settings at any time. More information in our Privacy Policy.</p>
      </div>
      <div id="cookie-law-buttons">
        <button pButton label="OK, I agree" (click)="hideCookieLaw()"></button>
        <button pButton label="Read more" (click)="readMore()"></button>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-content">
    <div class="footer-social-media">
      <a class="fa fa-facebook-square fa-2x" href="http://www.facebook.com/RenewableEnergyAndEnergyEfficiencyPartnership" target="_blank" title="Visit REEEP on Facebook"></a>
      <a class="fa fa-twitter-square fa-2x" href="http://twitter.com/REEEP" target="_blank" title="Visit REEEP on Twitter"></a>
      <a class="fa fa-linkedin-square fa-2x" href="https://www.linkedin.com/company/renewable-energy-and-energy-efficiency-partnership-reeep-/" target="_blank" title="Visit REEEP on LinkedIn"></a>
    </div>
    <div class="footer-links">
      <a target="_blank" routerLink="/disclosure">Disclosure</a>
      <a target="_blank" routerLink="/privacy-statement">Privacy Statement</a>
    </div>
    <div class="footer-imgs">
      <a href="https://www.bgfz.org/" target="_blank" title="Visit BGFZ">
        <img src="/static/assets/images/BGFZ-Logo-No-BG.PNG" alt="BGFZ">
      </a>
      <a href="https://www.reeep.org/" target="_blank" title="Visit REEEP">
        <img src="/static/assets/images/REEEP-Logo.png" alt="REEEP">
      </a>
      <a id="sweeden-logo" href="http://www.swedenabroad.com/en-GB/Embassies/Lusaka" target="_blank" title="Visit Sweeden Embassy">
        <img src="/static/assets/images/sweeden.png" alt="Sweeden">
      </a>
    </div>

  </div>
  <div class="footer-polygon"></div>
</div>
