<h2>Energy Service Provider API Log</h2>
<p-dataTable [value]="espApiLog">
  <p-column field="idEsp" header="ESP ID" sortable="true"></p-column>
  <p-column field="espCompanyName" header="ESP Name" sortable="true"></p-column>
  <p-column field="cdResult" header="Result" sortable="true"></p-column>
  <p-column field="loggedDate" header="Date Logged" sortable="true">
    <ng-template let-col let-esp="rowData" pTemplate="body">
      <span>{{esp[col.field] | date:'dd/MM/yyyy'}}</span>
    </ng-template>
  </p-column>
  <p-column field="nbrRecordCount" header="Record Count" sortable="true">
    <ng-template let-esp="rowData" pTemplate="body">
        <span>{{esp.nbrRecordCount}}</span>
    </ng-template>
  </p-column>
  <p-column field="textFailDescription" header="Fail Description" sortable="true"></p-column>
</p-dataTable>
