<h3>User Management</h3>
<button pButton type="button" label="Add User" (click)="displayAddUser()"></button>
<div class="divSmallSpacer"></div>
<p-dataTable *ngIf="visible" [value]="users">
  <p-column header="Edit" [style]="{'width':'45px'}">
      <ng-template let-user="rowData" pTemplate="body">
          <button type="button" pButton (click)="editUser(user)" icon="fa-pencil-square-o"></button>
      </ng-template>
  </p-column>
  <p-column header="Delete" [style]="{'width':'50px'}">
      <ng-template let-user="rowData" pTemplate="body">
          <button type="button" pButton (click)="deleteUser(user)" icon="fa-trash"></button>
      </ng-template>
  </p-column>
  <p-column field="nameFirst" header="First Name" sortable="true"></p-column>
  <p-column field="nameLast" header="Last Name" sortable="true"></p-column>
  <p-column field="textEmail" header="Email / User ID" sortable="true"></p-column>
  <p-column field="textPhoneNumber" header="Phone Number" sortable="true"></p-column>
  <!-- <p-column field="hashPassword" header="Password" sortable="true"></p-column> -->
  <p-column field="cdRole" header="Role" sortable="true" [style]="{'width':'60px'}">
    <ng-template let-user="rowData" let-col pTemplate="body">
        <span [ngSwitch]="user[col.field]">
          <span *ngSwitchCase="'ROLE_ADMIN'">Admin</span>
          <span *ngSwitchCase="'ROLE_USER'">Internal</span>
          <span *ngSwitchDefault>Other</span>
        </span>
    </ng-template>
  </p-column>
  <p-column field="isActive" header="Active" sortable="true" [style]="{'width':'70px'}">
    <ng-template let-user="rowData" pTemplate="body">
        <span>{{(user.isActive) ? 'Yes' : 'No'}}</span>
    </ng-template>
  </p-column>
</p-dataTable>
<p-dialog header="Edit User" [(visible)]="displayEdit" modal="modal" width="500">
  <div *ngIf="selectedUser && displayEdit">
    <form (ngSubmit)="onSubmitEdits()" #editForm="ngForm">
      <div class="form-group">
        <label for="nameFirst">First Name</label>
        <input type="text" class="form-control" id="nameFirst" required
              [(ngModel)]="selectedUser.nameFirst" name="nameFirst" #nameFirst="ngModel">
        <div [hidden]="nameFirst.valid || nameFirst.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="nameLast">Last Name</label>
        <input type="text" class="form-control" id="nameLast" required
              [(ngModel)]="selectedUser.nameLast" name="nameLast" #nameLast="ngModel">
        <div [hidden]="nameLast.valid || nameLast.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="textEmail">Email / User ID</label>
        <input type="text" class="form-control" id="textEmail" required pattern="^([a-zA-Z0-9_.]{1,})+@+([a-zA-Z]{1,})+\.+([a-zA-Z]{2,})$"
              [(ngModel)]="selectedUser.textEmail" name="textEmail" #textEmail="ngModel">
        <div [hidden]="!textEmail.hasError('required') || textEmail.pristine" class="alert alert-danger">Email is required</div>
        <div [hidden]="!textEmail.hasError('pattern') || textEmail.pristine" class="alert alert-danger">Email format should be <small><b>joe@abc.com</b></small></div>
      </div>
      <div class="form-group">
        <label for="textPhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="textPhoneNumber"
              [(ngModel)]="selectedUser.textPhoneNumber" name="textPhoneNumber" #textPhoneNumber="ngModel">
      </div>
      <div class="form-group">
        <label for="cdRole">Role</label>
        <p-dropdown [options]="roles" id="cdRole" required [style]="{'width':'150px'}"
              [(ngModel)]="selectedUser.cdRole" name="cdRole" #cdRole="ngModel"></p-dropdown>
        <div [hidden]="cdRole.valid || cdRole.pristine" class="alert alert-danger">
          Role is required
        </div>
      </div>
      <div class="form-group">
        <label for="hashPassword">Password</label>
        <input type="password" class="form-control" id="hashPassword" required minlength="8" validatePassword
              [(ngModel)]="selectedUser.hashPassword" name="hashPassword" #hashPassword="ngModel">
          <div [hidden]="!hashPassword.hasError('required') || hashPassword.pristine" class="alert alert-danger">Password is required</div>
          <div [hidden]="!hashPassword.hasError('validatePassword') || hashPassword.pristine" class="alert alert-danger">Password must have an uppercase, lowercase, numeric, and special character</div>
          <div [hidden]="!hashPassword.hasError('minlength') || hashPassword.pristine" class="alert alert-danger">Password must be 8+ characters</div>
      </div>
      <div class="divSpacer"></div>
      <button pButton type="submit" label="Save" [disabled]="!editForm.form.valid"></button>
      <button *ngIf="selectedUser.isActive" pButton type="button" label="Deactivate" (click)="deactivateUser()"></button>
      <button *ngIf="!selectedUser.isActive" pButton type="button" label="Activate" (click)="deactivateUser()"></button>
    </form>
  </div>
</p-dialog>
<p-dialog header="Add User" [(visible)]="displayAdd" modal="modal" width="500"  (onHide)="cancelUser()">
  <div *ngIf="newUser && displayAdd">
    <form (ngSubmit)="onSubmitAdd()" #addForm="ngForm">
      <div class="form-group">
        <label for="nameFirst">First Name</label>
        <input type="text" class="form-control" id="nameFirst" required
              [(ngModel)]="newUser.nameFirst" name="nameFirst" #nameFirst="ngModel">
        <div [hidden]="nameFirst.valid || nameFirst.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="nameLast">Last Name</label>
        <input type="text" class="form-control" id="nameLast" required
              [(ngModel)]="newUser.nameLast" name="nameLast" #nameLast="ngModel">
        <div [hidden]="nameLast.valid || nameLast.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="textEmail">Email / User ID</label>
        <input type="text" class="form-control" id="textEmail" required pattern="^([a-zA-Z0-9_.]{1,})+@+([a-zA-Z]{1,})+\.+([a-zA-Z]{2,})$"
              [(ngModel)]="newUser.textEmail" name="textEmail" #textEmail="ngModel">
        <div [hidden]="!textEmail.hasError('required') || textEmail.pristine" class="alert alert-danger">Email is required</div>
        <div [hidden]="!textEmail.hasError('pattern') || textEmail.pristine" class="alert alert-danger">Email format should be <small><b>joe@abc.com</b></small></div>
      </div>
      <div class="form-group">
        <label for="textPhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="textPhoneNumber"
              [(ngModel)]="newUser.textPhoneNumber" name="textPhoneNumber" #textPhoneNumber="ngModel">
      </div>
      <div class="form-group">
        <label for="cdRole">Role</label>
        <p-dropdown [options]="roles" id="cdRole" required [style]="{'width':'150px'}"
              [(ngModel)]="newUser.cdRole" name="cdRole" #cdRole="ngModel"></p-dropdown>
        <div [hidden]="cdRole.valid || cdRole.pristine" class="alert alert-danger">
          Role is required
        </div>
      </div>
      <div class="form-group">
        <label for="hashPassword">Password</label>
        <input type="password" class="form-control" id="hashPassword" required minlength="8" validatePassword
              [(ngModel)]="newUser.hashPassword" name="hashPassword" #hashPassword="ngModel">
        <div [hidden]="!hashPassword.hasError('required') || hashPassword.pristine" class="alert alert-danger">Password is required</div>
        <div [hidden]="!hashPassword.hasError('validatePassword') || hashPassword.pristine" class="alert alert-danger">Password must have an uppercase, lowercase, numeric, and special character</div>
        <div [hidden]="!hashPassword.hasError('minlength') || hashPassword.pristine" class="alert alert-danger">Password must be 8+ characters</div>
      </div>
      <div class="divSpacer"></div>
      <button pButton type="submit" label="Add" [disabled]="!addForm.form.valid"></button>
      <button pButton type="button" label="Cancel" (click)="cancelUser()"></button>
    </form>
  </div>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
