<div  [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <h1 style="margin:5px 0px 0px 0px;">{{subDashboardTitle}} Dashboard</h1>
  <i class="back-icon fa fa-arrow-circle-o-left back-icon" aria-hidden="true" (click)="router.navigate([parentDashboard])"></i>
  <div style="display:inline-block;vertical-align:top;width:calc(100% - 57px);">
    <div>
      <p-tabView [activeIndex]="tabIndex"  (onChange)="handleChange($event)">
        <p-tabPanel header="Chart">
          <div class="charts-div">
            <div class="chartDiv-2">
              <div id="plotlyDiv"></div>
            </div>
            <div class="chartDiv-2">
              <div id="plotlyDiv2"></div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Data">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #gb type="text" pInputText size="50" placeholder="Global Filter">
              <button pButton icon="fa-download" (click)="dt.exportCSV()"></button>
          </div>
          <p-dataTable [value]="tableData" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt [exportFilename]="getCSVFileName()" scrollable="true" scrollWidth="100%">
            <p-column field="customerId" header="Customer ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="customerFirstName" header="Customer First Name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="customerLastName" header="Customer Last Name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="province" header="Customer Province" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="address" header="Customer Address" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="phoneNumber" header="Customer Telephone" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="espCompanyName" header="ESP" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="productId" header="Product ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="paygId" header="PAYG ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="transactionAmt" header="PAYG Transaction Amount" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="transactionDate" header="PAYG Transaction Date/Time" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="sellerId" header="Seller ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="dtAcquisition" header="Date of Purchase" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="productUse" header="Transaction Type" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="transactionType" header="Customer Type" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="planDuration" header="Plan duration " sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="minMonthlyPayment" header="Minimum monthly payment" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="downPayment" header="Down payment" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="dtPaidOff" header="Date paid off" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="daysPaid" header="Days paid" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="daysToPay" header="Days to pay" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="currDaysOutstanding" header="Days outstanding concurrent" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="totalDaysOutstanding" header="Days outstanding cumulative" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="amtFinanced" header="Total financed price" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="paymentStatus" header="Payment status" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="indEvent" header="Warranty or service event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="repossession" header="Repossession" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          </p-dataTable>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div style="background-color:black; height: 1px; width: 100%;"></div>
    <div style="display:inline-block;vertical-align:top;">
      <h2 style="margin:5px 0px; display:inline-block">Filters:</h2>
      <button style="margin-bottom:5px;" type="button" (click)="processCheckBoxs($event)" pButton label="Apply"></button>
      <br/>
      <div class="dashboard-detail-filters">
        <div class="indent">
          <h3>{{espFilter.header}}</h3>
          <div *ngFor="let filter of espFilter.filters, let i = index">
            <!-- <p-checkbox name="espFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedEspFilters" [inputId]="filter"></p-checkbox> -->
            <p-checkbox name="espFilter.header" [value]="filter" [label]="getDummyName(i)" [(ngModel)]="selectedEspFilters" [inputId]="filter"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>Seller</h3>
          <!-- <p-multiSelect [options]="sellers" [(ngModel)]="selectedSellers" [ngStyle]="{'min-width':'12em'}"></p-multiSelect> -->
          <p-listbox [options]="sellers" [(ngModel)]="selectedSellers" multiple="multiple" filter="filter"
            [metaKeySelection]="false" optionLabel="name" [listStyle]="{'max-height':'200px'}"></p-listbox>
          <button style="margin-top:5px;" type="button" (click)="selectedSellers=null" pButton label="Clear"></button>
        </div>
        <div class="indent">
          <h3>{{tierFilter.header}}</h3>
          <div *ngFor="let filter of tierFilter.filters">
            <p-checkbox name="tierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedTiers" [inputId]="filter"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{applicationFilter.header}}</h3>
          <div *ngFor="let filter of applicationFilter.filters">
            <p-checkbox name="applicationFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedApplications" [inputId]="filter"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>PAYG Duration</h3>
          <div class="divSpacer"></div>
          <div style="display:inline-block;">
            <p-slider *ngIf="filtersReady" [(ngModel)]="paygDurationRange" [range]="true" [min]="paygDurationMin" [max]="paygDurationMax" [step]="6" orientation="vertical"></p-slider>
          </div>
          <div *ngIf="filtersReady" class="ui-slider-text">
            <div>{{paygDurationRange[1]}} months</div>
            <div>to</div>
            <div>{{paygDurationRange[0]}} months</div>
          </div>
        </div>
        <div style="margin-right:10px;">
          <h3>Total Financed</h3>
          <div class="divSpacer"></div>
          <div style="display:inline-block;">
            <p-slider *ngIf="filtersReady" [(ngModel)]="totalFinancedRange" [range]="true" [min]="financedMin" [max]="financedMax" orientation="vertical"></p-slider>
          </div>
          <div *ngIf="filtersReady" class="ui-slider-text">
            <div >{{totalFinancedRange[1] | currency:'USD':'$':'1.0-0'}}</div>
            <div>to</div>
            <div>{{totalFinancedRange[0] | currency:'USD':'$':'1.0-0'}}</div>
          </div>
        </div>
        <div style="margin-right:10px;">
          <h3>{{transactionTypeFilter.header}}</h3>
          <div *ngFor="let filter of transactionTypeFilter.filters">
            <p-checkbox name="transactionTypeFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedTransTypes" [inputId]="filter"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{provinceFilter.header}}</h3>
          <div *ngFor="let filter of provinceFilter.filters">
            <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvinces" [inputId]="filter"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{genderFilter.header}}</h3>
          <div *ngFor="let filter of genderFilter.filters">
            <p-checkbox name="genderFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedGenders" [inputId]="filter"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div>
          <h3>Time</h3>
          <div>
            <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
          <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
          <div>
            <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="print-button">
    <button pButton type="button" label="Print" (click)="showPFModal()"></button>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacer"></div>
      <h1 style="margin:5px 0px;">{{subDashboardTitle}} Dashboard</h1>
      <table>
        <tr>
          <td>
            <div class="chartDiv-2">
              <div id="plotlyDivPrint"></div>
            </div>
          </td>
          <td>
            <div class="chartDiv-2">
              <div id="plotlyDiv2Print"></div>
            </div>
          </td>
        </tr>
      </table>
      <div style="display:inline-block;vertical-align:top;">
        <h2 style="margin:5px 0px;">Filters:</h2>
        <div class="dashboard-detail-filters">
          <div class="indent">
            <h3>{{espFilter.header}}</h3>
            <div *ngFor="let filter of espFilter.filters">
              <p-checkbox name="espFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedEspFilters" [inputId]="filter"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>Seller</h3>
            <p-multiSelect [options]="sellers" [(ngModel)]="selectedSellers" [ngStyle]="{'min-width':'12em'}"></p-multiSelect>
          </div>
          <div class="indent">
            <h3>{{tierFilter.header}}</h3>
            <div *ngFor="let filter of tierFilter.filters">
              <p-checkbox name="tierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedTiers" [inputId]="filter"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>{{applicationFilter.header}}</h3>
            <div *ngFor="let filter of applicationFilter.filters">
              <p-checkbox name="applicationFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedApplications" [inputId]="filter"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>PAYG Duration</h3>
            <div class="divSpacer"></div>
            <div *ngIf="filtersReady" class="ui-slider-text">
              <div>{{paygDurationRange[1]}} mnths</div>
              <div>to</div>
              <div>{{paygDurationRange[0]}} mnths</div>
            </div>
          </div>
          <div style="margin-right:10px;">
            <h3>Total Financed</h3>
            <div class="divSpacer"></div>
            <div *ngIf="filtersReady" class="ui-slider-text">
              <div>{{totalFinancedRange[1] | currency:'USD':'$':'1.0-0'}}</div>
              <div>to</div>
              <div>{{totalFinancedRange[0] | currency:'USD':'$':'1.0-0'}}</div>
            </div>
          </div>
          <div style="margin-right:10px;">
            <h3>{{transactionTypeFilter.header}}</h3>
            <div *ngFor="let filter of transactionTypeFilter.filters">
              <p-checkbox name="transactionTypeFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedTransTypes" [inputId]="filter"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>{{provinceFilter.header}}</h3>
            <div *ngFor="let filter of provinceFilter.filters">
              <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvinces" [inputId]="filter"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>{{genderFilter.header}}</h3>
            <div *ngFor="let filter of genderFilter.filters">
              <p-checkbox name="genderFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedGenders" [inputId]="filter"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div>
            <h3>Time</h3>
            <div>
              <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"></p-calendar>
            </div>
            <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
            <div>
              <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"></p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
