<div [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <div class="divSmallSpacer"></div>
  <div class="divSpacer"></div>
  <div class="ui-grid ui-grid-responsive ui-fluid edison-dashboard">
    <div class="print-button" style="top:-13px">
      <button pButton type="button" label="Print" (click)="showPFModal()"></button>
    </div>
    <div style="margin:0 auto;text-align:center;" class="ui-grid-row">
      <div class="ui-grid-col-7" style="min-height:560px;">
        <div class="ui-grid-col-2 vertical-filters" style="vertical-align:top;text-align:left;">
          <h2>Filters:</h2>
          <div class="indent internal-filters">
            <div>
              <h3>ESP</h3>
              <div *ngFor="let esp of espFilter.filters, let i = index" class="indent">
                <!-- <p-checkbox name="esps" [value]="esp" [label]="esp" [(ngModel)]="selectedESPs" [inputId]="esp" (onChange)="processCheckBox($event)"></p-checkbox> -->
                <p-checkbox name="esps" [value]="esp" [label]="getDummyName(i)" [(ngModel)]="selectedESPs" [inputId]="esp" (onChange)="processCheckBox($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div>
              <h3>Province</h3>
              <div *ngFor="let province of provinceFilter.filters" class="indent">
                <p-checkbox name="provinces" [value]="province" [label]="province" [(ngModel)]="selectedProvinces" [inputId]="province" (onChange)="processCheckBox($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div>
              <h3>Time</h3>
              <div>
                <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
                   showButtonBar="true" (onSelect)="processCheckBox($event)" (onClearClick)="processCheckBox($event)"></p-calendar>
              </div>
              <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
              <div>
                <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
                   showButtonBar="true" (onSelect)="processCheckBox($event)" (onClearClick)="processCheckBox($event)"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-grid-col-10">
          <h3 style="text-align:left;margin:2.5px 0px">Selected Province: {{selectedProvince}}</h3>
          <span class="reset-text">*Double Click to Reset Province</span>
          <div class="reset-button">
            <button pButton label="Reset" icon="fa-undo" (click)="provinceClicked('All')"></button>
          </div>
          <app-d3 #zambiaChart style="text-align:left;" id="d3Zambia" *ngIf="chartData" [data]="chartData" [name]="'d3Zambia'" [pointCoords]="pointCoords" (dblclick)="provinceClicked('All')"
            (provinceClicked)="provinceClicked($event)"></app-d3>
        </div>
      </div>
      <div class="ui-grid-col-5">
        <div class="divSpacer"></div>
        <table class="dashboard-stats">
          <tr>
            <td (click)="router.navigate(['analytics/payg-at-risk'])" class="dashboard-cell">
              <h3>PAYG Portfolio at Risk</h3>
              <h2>{{portAtRisk | percent:"1.2-2"}}</h2>
              <h5>30+ Days Overdue</h5>
            </td>
            <td (click)="router.navigate(['analytics/total-defaults'])" class="dashboard-cell">
              <h3>ESS Total Defaults</h3>
              <h2>{{totalDefaults | number:"1.0-0"}}</h2>
              <h5>Defaults</h5>
            </td>
            <td (click)="router.navigate(['analytics/default-rate'])" class="dashboard-cell">
              <h3>Default Rate</h3>
              <h2>{{defaultRate | percent:"1.2-2"}}</h2>
              <h5>ESS in Default</h5>
            </td>
          </tr>
          <tr>
            <td (click)="router.navigate(['analytics/sales-per-seller'])" class="dashboard-cell">
              <h3>Sales per Seller</h3>
              <h2>{{avgSalesPerSeller | currency:'USD':'symbol':"1.0-0"}}</h2>
              <h5>Avg Sales</h5>
            </td>
            <td (click)="router.navigate(['analytics/load-capacity'])" class="dashboard-cell">
              <h3>Load Capacity</h3>
              <h2>{{loadCapacityContract | percent:"1.0-0"}}</h2>
              <h5>Under Contract</h5>
            </td>
            <td (click)="router.navigate(['analytics/load-factor'])" class="dashboard-cell">
              <h3>Load Factor</h3>
              <h2>{{loadFactor | number:"1.2-3"}}</h2>
              <h5>Avg to Peak Load</h5>
            </td>
          </tr>
          <tr>
            <td (click)="router.navigate(['analytics/high-revenue-customers'])" class="dashboard-cell">
              <h3>High Revenue Customers</h3>
              <h2>{{tier3Plus | percent:"1.0-0"}}</h2>
              <h5>Productive Tier 3+</h5>
            </td>
            <td (click)="router.navigate(['analytics/arpu'])" class="dashboard-cell">
              <h3>ARPS</h3>
              <!-- <h3 style="font-size:4vh;">Low: {{((lowDataCell>0)?'+':'')}}{{lowDataCell | percent:'1.0-1'}}</h3>
              <h3 style="font-size:4vh;">Medium: {{((midDataCell>0)?'+':'')}}{{midDataCell | percent:'1.0-1'}}</h3>
              <h3 style="font-size:4vh;">High: {{((highDataCell>0)?'+':'')}}{{highDataCell | percent:'1.0-1'}}</h3> -->
              <h2>{{arps | currency:"USD":"symbol-narrow":"1.0-0"}}</h2>
              <h5>Avg Site Revenue / Target</h5>
            </td>
            <td (click)="router.navigate(['analytics/arpu'])" class="dashboard-cell">
              <h3>ARPU</h3>
              <h2>{{arpu | currency:"USD":"symbol-narrow":"1.0-0"}}</h2>
              <h5>Avg Customer Revenue / Target</h5>
            </td>
          </tr>
        </table>
        <p class="information-paragraph">*Click cells that light up as green for more information.</p>
        <!-- <p class="information-paragraph">*Cells that light up as blue when hovering provide more detail after clicking on the cell.</p> -->
      </div>
    </div>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacerSmall no-print"></div>
      <div style="white-space: nowrap; overflow: hidden;">
        <div class="ui-grid-col-3 vertical-filters" style="vertical-align:top;text-align:left;">
          <h2 style="margin:2px 0px 0px 0px;">Filters:</h2>
          <div class="indent internal-filters">
            <div>
              <h3>ESP</h3>
              <div *ngFor="let esp of espFilter.filters" class="indent">
                <p-checkbox name="esps" [value]="esp" [label]="esp" [(ngModel)]="selectedESPs" [inputId]="esp" (onChange)="processCheckBox($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div>
              <h3>Province</h3>
              <div *ngFor="let province of provinceFilter.filters" class="indent">
                <p-checkbox name="provinces" [value]="province" [label]="province" [(ngModel)]="selectedProvinces" [inputId]="province" (onChange)="processCheckBox($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div>
              <h3>Time</h3>
              <div>
                <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"></p-calendar>
              </div>
              <div>
                <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div style="display:inline-block;">
          <h3 style="text-align:left;margin:2.5px 0px">Selected Province: {{selectedProvince}}</h3>
          <span class="reset-text">*Double Click to Reset</span>
          <div class="reset-button">
            <button pButton label="Reset" icon="fa-undo" (click)="provinceClicked('All')"></button>
          </div>
          <div [ngStyle]="{'min-width':'400px','height':'380px','display':'inline-block'}">
            <app-d3 #zambiaChartPrint id="d3ZambiaPrint" *ngIf="chartData && rawData && showPrinterFriendly" [data]="chartData"
              [name]="'d3ZambiaPrint'" [pointCoords]="pointCoords" [height]="414" [width]="450"  ></app-d3>
          </div>
        </div>
      </div>
    </div>
    <div>
      <table class="dashboard-stats">
        <tr>
          <td (click)="router.navigate(['analytics/payg-at-risk'])" class="dashboard-cell">
            <h3>PAYG Portfolio at Risk</h3>
            <h2>{{portAtRisk | percent:"1.2-2"}}</h2>
            <h5>30+ Days Overdue</h5>
          </td>
          <td (click)="router.navigate(['analytics/total-defaults'])" class="dashboard-cell">
            <h3>ESS Total Defaults</h3>
            <h2>{{totalDefaults | number:"1.0-0"}}</h2>
            <h5>Defaults</h5>
          </td>
          <td (click)="router.navigate(['analytics/default-rate'])" class="dashboard-cell">
            <h3>Default Rate</h3>
            <h2>{{defaultRate | percent:"1.2-2"}}</h2>
            <h5>ESS in Default</h5>
          </td>
        </tr>
        <tr>
          <td (click)="router.navigate(['analytics/sales-per-seller'])" class="dashboard-cell">
            <h3>Sales per Seller</h3>
            <h2>{{avgSalesPerSeller | currency:'USD':'symbol':"1.0-0"}}</h2>
            <h5>Avg Sales</h5>
          </td>
          <td (click)="router.navigate(['analytics/load-capacity'])" class="dashboard-cell">
            <h3>Load Capacity</h3>
            <h2>{{loadCapacityContract | percent:"1.0-0"}}</h2>
            <h5>Under Contract</h5>
            
          </td>
          <td (click)="router.navigate(['analytics/load-factor'])" class="dashboard-cell">
            <h3>Load Factor</h3>
            <h2>{{loadFactor | number:"1.2-3"}}</h2>
            <h5>Avg to Peak Load</h5>
          </td>
        </tr>
        <tr>
          <td (click)="router.navigate(['analytics/high-revenue-customers'])" class="dashboard-cell">
            <h3>High Revenue Customers</h3>
            <h2>{{tier3Plus | percent:"1.0-0"}}</h2>
            <h5>Productive Tier 3+</h5>
          </td>
          <td (click)="router.navigate(['analytics/arpu'])" class="dashboard-cell-2" colspan="2">
            <h3>User Mix vs. Plan</h3>
            <h2 style="font-size:4vh;">Low: +14%</h2>
            <h2 style="font-size:4vh;">Medium: -11.5%</h2>
            <h2 style="font-size:4vh;">High: -3%</h2>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
