<h2>Data Management</h2>
<div class="indent min-header-margin">
  <!-- <h3>Raw Export</h3> -->
  <div class="date-range-div">
    <div>
      <div><h3>Raw Export Type (JSON)</h3></div>
      <p-dropdown [options]="downloadTypes" [(ngModel)]="downloadType" placeholder="Select Download Type"></p-dropdown>
    </div>
    <div>
      <div><h3>Start Date</h3></div>
      <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" [maxDate]="endDate" placeholder="Beginning Of Time" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <span>to</span>
    <div>
      <div><h3>End Date</h3></div>
      <p-calendar [(ngModel)]="endDate" [readonlyInput]="true" [minDate]="startDate" placeholder="End Of Time" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <!-- [minDate]="minDate" [maxDate]="maxDate"  -->
    <button pButton [disabled]="!downloadType" label="Export" (click)="exportXML()"></button>
    <a id="downloader" [href]="safeUriExport" [download]="downloadType + '.json'" style="display:none;"></a>
    <!-- <button pButton label="Clear" (click)="clearDates()"></button> -->
  </div>
  <div class="divSpacer"></div>
  <h3>CSV Upload</h3>
  <p-dropdown [options]="uploadTypes" [(ngModel)]="selectedType" placeholder="Select Upload Type" (onChange)="drowDownChange()"></p-dropdown>
  <!-- <div class="divSpacer"></div> -->
  <!-- <p-fileUpload [disabled]="!selectedType" name="myfile[]" url="./upload.php"
    accept=".csv,.xls,.xlsx" (onSelect)="fileSelect()">
  </p-fileUpload> -->

  <button pButton type="button" label="Download" [disabled]="!active" (click)="dtData.exportCSV()"></button>
  <div style="position:relative;top:7px;display:inline-block;">
    <p-fileUpload mode="basic" name="file" [url]="getUrl()" accept=".csv" maxFileSize="1000000" (onBeforeUpload)="onBeforeUpload($event)"
      (onBeforeSend)="onBeforeSend($event)" (onUpload)="onBasicUpload($event)" [disabled]="!active" (onError)="onError($event)"
      (onUpload)="onUpload($event)"></p-fileUpload>
  </div>
  <div class="divSpacer"></div>
  <div [ngStyle]="{'display': active ? 'block' : 'none' }">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <p-dataTable [value]="downloadData" #dtData exportFilename="data_output" [rows]="15" [paginator]="true" [globalFilter]="gb">
        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
    </p-dataTable>
  </div>
</div>
<div class="divSpacer"></div>
