<div [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <div class="print-button">
    <div class="divSmallSpacer"></div>
    <button pButton type="button" label="Print" (click)="showPFModal()"></button>
  </div>
  <div class="divSpacer"></div>
  <div class="date-range-div">
    <div>
      <div><h3>Start Date</h3></div>
      <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <span>to</span>
    <div>
      <div><h3>End Date</h3></div>
      <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <button pButton label="Update Range" (click)="updateDateRange()"></button>
    <button pButton label="Set Defaults" (click)="setToDefault()"></button>
  </div>

  <div class="divSpacer"></div>
  <!-- Add Tabs here -->
  <p-tabView [style]="{'width':'100%','display':'inline-block'}" [activeIndex]="tabIndex"  (onChange)="handleChange($event)">
    <p-tabPanel header="Chart">
      <div style="display:inline-block;width:49%;height:45vh;">
        <div style="margin-bottom:10px;height:100%;width:100%;">
            <div id="linePlotDiv" name="linePlotDiv" style="height:100%;width:100%;"></div>
        </div>
      </div>
      <div style="display:inline-block;width:49%;height:45vh;">
        <div style="margin-bottom:10px;height:100%;width:100%;">
            <div id="linePlotDivVFM" name="linePlotDiv" style="height:100%;width:100%;"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Data">
      <div class="data-tab-div">
        <h3>Current Progress:</h3>
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
            <button pButton icon="fa-download" (click)="dt.exportCSV()"></button>
        </div>
        <p-dataTable [value]="tableData" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt [exportFilename]="getCSVFileName()" scrollable="true" scrollWidth="100%">
          <p-column field="customerId" header="Customer ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="customerFirstName" header="Customer First Name" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="customerLastName" header="Customer Last Name" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="province" header="Customer Province" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="address" header="Customer Address" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="phoneNumber" header="Customer Telephone" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="espCompanyName" header="ESP" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="productId" header="Product ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="microgridId" header="Microgrid ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="sellerId" header="Seller ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="paygId" header="PAYG ID" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="dtAcquisition" header="Date of Purchase / Connection" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="transactionType" header="Transaction Type" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="productUse" header="Customer Type" sortable="true" filter="true" filterMatchMode="startswith"  [style]="{'width':'200px'}"></p-column>
          <p-column field="productSubUse" header="Customer Type 2" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="planDuration" header="Plan duration " sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="minMonthlyPayment" header="Minimum monthly payment" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="downPayment" header="Down payment" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="dtPaidOff" header="Date paid off" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="daysPaid" header="Days paid" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="daysToPay" header="Days to pay" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="currDaysOutstanding" header="Days outstanding concurrent" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="totalDaysOutstanding" header="Days outstanding cumulative" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="amtFinanced" header="Total financed price" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="paymentStatus" header="Payment status" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="indEvent" header="Warranty or service event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="coordinates" header="Location (Coordinates)" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="whPerDay" header="Purchased Wh/day" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="whAvg30Day" header="Purchased average Wh over prev. 30 days (PP30)" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="whAvg90Day" header="Purchased average Wh over prev. 90 days (PP90)" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          <p-column field="appliances" header="Appliances" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
        </p-dataTable>
      </div>
    </p-tabPanel>
  </p-tabView>
  <!-- End Tabs -->
  <div style="margin:0 auto; text-align:center;">
    <!-- width:calc(30% - 15px); min-width:200px;  -->
    <div style="display:inline-block;vertical-align:top;text-align:left;">
      <h2 style="margin:5px 0px;">Filters:</h2>
      <div class="dashboard-detail-filters">
        <div class="indent">
          <h3>{{espFilter.header}}</h3>
          <div *ngFor="let filter of espFilter.filters, let i = index">
            
          
            <!-- <p-checkbox name="espFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedEsps" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox> -->
            <p-checkbox name="espFilter.header" [value]="filter" [label]="getDummyName(i)" [(ngModel)]="selectedEsps" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{provinceFilter.header}}</h3>
          <div *ngFor="let filter of provinceFilter.filters">
            <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvince" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{tierFilter.header}}</h3>
          <div *ngFor="let filter of tierFilter.filters">
            <p-checkbox name="tierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedTiers" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>{{customerTypeFilter.header}}</h3>
          <div *ngFor="let filter of customerTypeFilter.filters">
            <p-checkbox name="customerTypeFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedCustomerTypes" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
      </div>
    </div>
    <table class="dashboard-stats" style="margin:0 auto; text-align:center;display:inline-block">
      <tr>
        <td class="dashboard-cell-no-hover">
          <h3>Deviation from Plan (ESS)</h3>
          <h2 style="white-space:nowrap;" *ngIf="essDeviation || essDeviation == 0">{{((essDeviation>=0)?essDeviation:(essDeviation * -1)) | number:"1.0-0"}} | {{(essPctDvtn)?(essPctDvtn | percent:"1.2-2") : 'N/A'}}</h2>
          <h5 *ngIf="essDeviation || essDeviation == 0">{{(essDeviation>=0)?'Under':'Over'}} Target</h5>
        </td>
        <td class="dashboard-cell-no-hover">
          <h3>Deviation from Plan (VFM)</h3>
          <h2 style="white-space:nowrap;" *ngIf="vfmDeviation || vfmDeviation == 0">{{((vfmDeviation>=0)?vfmDeviation:(vfmDeviation * -1)) | number:"1.0-0"}} SEK | {{(vfmPctDvtn)?(vfmPctDvtn | percent:"1.2-2") : 'N/A'}}</h2>
          <h5 *ngIf="vfmDeviation || vfmDeviation == 0">{{(vfmDeviation>=0)?'Under':'Over'}} Target</h5>
        </td>
      </tr>
      <tr>
        <td (click)="router.navigate(['portfolio-monitoring/repeat-customer'])" class="dashboard-cell">
          <h3>Duplicate Customers</h3>
          <h2>{{duplicateCustomers | number:"1.0-0"}}</h2>
          <h5>Customers</h5>
        </td>
        <td (click)="router.navigate(['portfolio-monitoring/upgrades'])" class="dashboard-cell">
          <h3>Upgrades</h3>
          <h2>{{upgrades | number:"1.0-0"}}</h2>
          <h5>ESS Upgraded</h5>
        </td>
      </tr>
    </table>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacerSmall no-print"></div>
      <h1>Portfolio Monitoring Dashboard</h1>
      <div class="date-range-div">
        <div>
          <div><h3>Start Date</h3></div>
          <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <span>to</span>
        <div>
          <div><h3>End Date</h3></div>
          <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <!-- <button pButton label="Update Range" (click)="updateDateRange()"></button> -->
      </div>
      <div style="display:block;text-align:left;">
        <div style="margin-bottom:10px;">
            <div id="linePlotDivPrint" name="linePlotDivPrint" style="height:100%;width:100%;"></div>
        </div>
      </div>
      <div style="display:block;text-align:left;">
        <div style="margin-bottom:10px;">
            <div id="linePlotDivVFMPrint" name="linePlotDivPrint" style="height:100%;width:100%;"></div>
        </div>
      </div>
      <div class="page-break"></div>
      <div class="divSpacer"></div>
      <div class="divSpacer"></div>
      <div style="margin:0 auto; text-align:left;">
        <!-- width:calc(30% - 15px); min-width:200px;  -->
        <div style="display:block;vertical-align:top;text-align:left;">
          <h2 style="margin:5px 0px;">Filters:</h2>
          <div class="dashboard-detail-filters">
            <div class="indent">
              <h3>{{espFilter.header}}</h3>
              
              <div *ngFor="let filter of espFilter.filters">
                <p-checkbox name="espFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedEsps" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div class="indent">
              <h3>{{provinceFilter.header}}</h3>
              <div *ngFor="let filter of provinceFilter.filters">
                <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvince" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div class="indent">
              <h3>{{tierFilter.header}}</h3>
              <div *ngFor="let filter of tierFilter.filters">
                <p-checkbox name="tierFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedTiers" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
            <div class="indent">
              <h3>{{customerTypeFilter.header}}</h3>
              <div *ngFor="let filter of customerTypeFilter.filters">
                <p-checkbox name="customerTypeFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedCustomerTypes" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
                <div class="divSmallSpacer"></div>
              </div>
            </div>
          </div>
        </div>
        <table class="dashboard-stats" style="margin:0 auto; text-align:center;display:inline-block">
          <tr>
            <td (click)="router.navigate(['portfolio-monitoring/repeat-customer'])" class="dashboard-cell">
              <h3>Duplicate Customers</h3>
              <h2>{{duplicateCustomers | number:"1.0-0"}}</h2>
              <h5>Customers</h5>
            </td>
            <td (click)="router.navigate(['portfolio-monitoring/upgrades'])" class="dashboard-cell">
              <h3>Upgrades</h3>
              <h2>{{upgrades | number:"1.0-0"}}</h2>
              <h5>ESS Upgraded</h5>
            </td>
          </tr>
          <tr>
            <td class="dashboard-cell-no-hover">
              <h3>Deviation from Plan (ESS)</h3>
              <h2 *ngIf="essDeviation || essDeviation == 0">{{((essDeviation>=0)?essDeviation:(essDeviation * -1)) | number:"1.0-0"}}</h2>
              <h5 *ngIf="essDeviation || essDeviation == 0">{{(essDeviation>=0)?'Under':'Over'}} Target</h5>
            </td>
            <td class="dashboard-cell-no-hover">
              <h3>Deviation from Plan (VFM)</h3>
              <h2 *ngIf="vfmDeviation || vfmDeviation == 0">{{((vfmDeviation>=0)?vfmDeviation:(vfmDeviation * -1)) | number:"1.0-0"}}</h2>
              <h5 *ngIf="vfmDeviation || vfmDeviation == 0">{{(vfmDeviation>=0)?'Under':'Over'}} Target</h5>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
