<div  [ngStyle]="{'display':(showPrinterFriendly)?'none':'block'}" style="position:relative;">
  <h1 style="margin:5px 0px 0px 0px;">{{subDashboardTitle}} Dashboard</h1>
  <i class="back-icon fa fa-arrow-circle-o-left back-icon" aria-hidden="true" (click)="router.navigate([parentDashboard])"></i>
  <div style="display:inline-block;vertical-align:top;width:calc(100% - 57px);">
    <div>
      <p-tabView [activeIndex]="tabIndex"  (onChange)="handleChange($event)">
        <p-tabPanel header="Chart">
          <div class="charts-div">
            <div class="chartDiv-1">
              <div id="plotlyDiv"></div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Data">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #gb type="text" pInputText size="50" placeholder="Global Filter">
              <button pButton icon="fa-download" (click)="dt.exportCSV()"></button>
          </div>
          <p-dataTable [value]="tableData" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt [exportFilename]="getCSVFileName()" scrollable="true" scrollWidth="100%">
            <p-column field="extKey" header="Microgrid ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nameProvince" header="Microgrid Province" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nameCity" header="Microgrid City" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nameVillage" header="Microgrid Village" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="textLngLtd" header="Microgrid geographic coordinates" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="manager.extKey" header="Microgrid Manager ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="manager.nameFirst" header="Microgrid Manager First Name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="manager.nameLast" header="Microgrid Manager Last Name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="rco.extKey" header="Regional community coordinator ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="rco.nameFirst" header="Regional community coordinator first name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="rco.nameLast" header="Regional community coordinator lastname" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="rto.extKey" header="Regional technical coordinator ID" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="rto.nameFirst" header="Regional technical coordinator first name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="rto.nameLast" header="Regional technical coordinator last name" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="dtInstallation" header="Microgrid installation date" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrAvgSolarInsolationAnnual" header="Microgrid annual average solar insolation " sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrCapacityKw" header="Microgrid installed capacity in KW" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrStorageKwh" header="Microgrid installed storage in KWh" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrPowerLoadKw" header="Microgrid power load in KW" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrPeakLoadKw" header="Microgrid peak load in KW" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrBaseLoadKw" header="Microgrid base load in KW" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrAvgLoadKw" header="Microgrid average load in KW" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrLoadFactor" header="Microgrid load factor" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrAvgDailyOutputKw" header="Microgrid daily power output in Wh/day" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="indLoadSheddingEvent" header="Microgrid load shedding event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="indOutageEvent" header="Microgrid outage/restoration event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="intMaintEvent" header="Microgrid service/maintenance event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="indTheftEvent" header="Microgrid theft event" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
            <p-column field="nbrSaifi" header="Microgrid Average Interruption Frequency Index (SAIFI)" sortable="true" filter="true" filterMatchMode="startswith" [style]="{'width':'200px'}"></p-column>
          </p-dataTable>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div style="background-color:black; height: 1px; width: 100%;"></div>
    <div style="display:inline-block;vertical-align:top;">
      <h2 style="margin:5px 0px;">Filters:</h2>
      <div class="dashboard-detail-filters">
        <div class="indent">
          <h3>{{provinceFilter.header}}</h3>
          <div *ngFor="let filter of provinceFilter.filters">
            <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvinces" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
            <div class="divSmallSpacer"></div>
          </div>
        </div>
        <div class="indent">
          <h3>Sites</h3>
          <p-listbox [options]="sites" [(ngModel)]="selectedSites" multiple="multiple" filter="filter"
            [metaKeySelection]="false" optionLabel="name" [listStyle]="{'max-height':'200px'}"></p-listbox>
          <button style="margin-top:5px;" type="button" (click)="processCheckBoxs($event)" pButton label="Apply"></button>
          <button style="margin-top:5px;" type="button" (click)="selectedSites=null" pButton label="Clear"></button>
        </div>
        <div>
          <h3>Time</h3>
          <div>
            <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
          <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
          <div>
            <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"
               showButtonBar="true" (onSelect)="processCheckBoxs($event)" (onClearClick)="processCheckBoxs($event)"></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="print-button">
    <button pButton type="button" label="Print" (click)="showPFModal()"></button>
  </div>
</div>
<div [ngStyle]="{'display':(showPrinterFriendly)?'block':'none'}" id="myModal" class="modal">
  <div class="print-modal-content">
    <div class="print-page">
      <button pButton type="button" class="no-print" label="Close" (click)="hidePFModal()"></button>
      <div class="divSpacer"></div>
      <h1 style="margin:5px 0px;">{{subDashboardTitle}} Dashboard</h1>
      <div class="chartDiv-1">
        <div id="plotlyDivPrint"></div>
      </div>
      <div style="display:inline-block;vertical-align:top;">
        <h2 style="margin:5px 0px;">Filters:</h2>
        <div class="dashboard-detail-filters">
          <div class="indent">
            <h3>{{provinceFilter.header}}</h3>
            <div *ngFor="let filter of provinceFilter.filters">
              <p-checkbox name="provinceFilter.header" [value]="filter" [label]="filter" [(ngModel)]="selectedProvinces" [inputId]="filter" (onChange)="processCheckBoxs($event)"></p-checkbox>
              <div class="divSmallSpacer"></div>
            </div>
          </div>
          <div class="indent">
            <h3>Sites</h3>
            <p-listbox [options]="sites" [(ngModel)]="selectedSites" multiple="multiple" filter="filter"
              [metaKeySelection]="false" optionLabel="name" [listStyle]="{'max-height':'200px'}"></p-listbox>
          </div>
          <div>
            <h3>Time</h3>
            <div>
              <p-calendar [(ngModel)]="startDate" [readonlyInput]="true" placeholder="Beginning of Time" dateFormat="dd.mm.yy"></p-calendar>
            </div>
            <div style="margin:0 auto; text-align:center; font-size:16px; font-weight:bold;">to</div>
            <div>
              <p-calendar [(ngModel)]="endDate" [readonlyInput]="true"  placeholder="End of Time" dateFormat="dd.mm.yy"></p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
